.ll-input-donation{
	display: block;
	position: relative;
	&__label{
		font-weight: 900;
		color: $c-gray;
		font-size: 18px;
		margin-bottom: 10px;
		display: block;
	}
	&__buttons{
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	&__button{
		width: 30%;
		padding: 11px 0 6px;
		margin-bottom: 16px;
		background: transparent;
		cursor: pointer;
		font-family: "Avenir", "Arial";
		position: relative;
		border: 0;
		color: #B0BEC5;
		height: 53px;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 2px solid #B0BEC5;
			border-radius: 8px;
			transition: .3s $ease-primary;
		}
		&.is-active{
			color: $c-gray;
			&:before{
				border: 4px solid $c-gray;
			}
		}
	}
	&__value{
		display: block;
		font-size: 18px;
		font-weight: 900;
		line-height: 20px;
	}
	&__monthly{
		font-size: 12px;
		font-weight: 900;
		line-height: 16px;
		display: none;
	}
	&__input{
		font-weight: 900;
		font-family: "Avenir", "Arial";
		font-size: 24px;
		color: $c-gray;
		background: transparent;
		text-align: center;
		border: 0;
		width: 100%;
		margin-bottom: 20px;
		padding: 0 0 5px;
		border-bottom: 2px solid $c-gray;
		transition: .3s $ease-primary;
		&::-webkit-input-placeholder{
			color: #CFD8DC;
		}
		&::-moz-placeholder{
			color: #CFD8DC;
		}
		&:-ms-input-placeholder{
			color: #CFD8DC;
		}
		&:-moz-placeholder{
			color: #CFD8DC;
		}
	}
	&__error{
		position: absolute;
		top: 0;
		color: red;
		right: 0;
		font-size: 11px;
		padding: 5px 0;
		opacity: 0;
		visibility: hidden;
		transform: translate(20px, 0);
		transition: .2s $ease-primary;
	}

	&.is-invalid{
		.ll-input-donation{
			&__button{
				&:before{
					border-color: red;
				}
			}
			&__error{
				opacity: 1;
				visibility: visible;
				right: 20px;
			}
			&__input{
				border-color: red;
			}
		}
	}

	@include grid-media($thirteen-desktop-grid){
		.ll-input-donation{
			&__label{
				margin-bottom: 5px;
			}
			&__button{
				height: 45px;
				margin-bottom: 10px;
			}
			&__value{
				line-height: 13px;
			}
			&__input{
				margin-bottom: 10px;
			}
		}
	}
}

// Monthly theme
.ll-app--secondary{
	.ll-input-donation{
		&__monthly{
			display: block;
		}
	}
}

@each $theme, $color in $themes{
	.ll-app--#{$theme}{
		.ll-input-donation{
			&__button{
				&.is-active{
					color: $color;
					transition: .2s $ease-primary;
					&:before{
						border-color: $color;
						transition: .2s $ease-primary;
					}
				}
			}
			&__input{
				border-color: $color;
				color: $color;
				transition: .2s $ease-primary;
			}
		}
	}
}
