<label class="ll-input-checkbox {{ class }}">
	<input type="checkbox" name="{{ name }}" class="ll-input-checkbox__input">
	<span class="ll-input-checkbox__bullet">
	</span>
	<span class="ll-input-checkbox__label">
		{{ label }}
	</span>
	{{#if tooltip }}
		<span class="ll-input-checkbox__tooltip"
			data-tooltip="{{ tooltip }}"
		>
			?
		</span>
	{{/if }}
</label>
