<label
	id="{{ id }}"
	class="ll-input-text {{ class }}"
	data-mask="{{ mask }}"
>
	<span class="ll-input-text__label">
		{{ label }}
	</span>

	<input type="text" name="{{ name }}" class="ll-input-text__input">

	<span class="ll-input-text__error">
	</span>
</label>
