<div class="ll-input-donation">
	<label class="ll-input-donation__label">
		{{ label }}
	</label>

	<span class="ll-input-donation__error">
		Selecione um valor
	</span>

	<div class="ll-input-donation__buttons">
		<button class="ll-input-donation__button" data-value="20" data-code="{{ plans.plan_20 }}">
			<span class="ll-input-donation__value">
				R$20
			</span>
			<span class="ll-input-donation__monthly">
				por mês
			</span>
		</button>

		<button class="ll-input-donation__button" data-value="50" data-code="{{ plans.plan_50 }}">
			<span class="ll-input-donation__value">
				R$50
			</span>
			<span class="ll-input-donation__monthly">
				por mês
			</span>
		</button>

		<button class="ll-input-donation__button" data-value="100" data-code="{{ plans.plan_100 }}">
			<span class="ll-input-donation__value">
				R$100
			</span>
			<span class="ll-input-donation__monthly">
				por mês
			</span>
		</button>

		<button class="ll-input-donation__button" data-value="200" data-code="{{ plans.plan_200 }}">
			<span class="ll-input-donation__value">
				R$200
			</span>
			<span class="ll-input-donation__monthly">
				por mês
			</span>
		</button>

		<button class="ll-input-donation__button" data-value="500" data-code="{{ plans.plan_500 }}">
			<span class="ll-input-donation__value">
				R$500
			</span>
			<span class="ll-input-donation__monthly">
				por mês
			</span>
		</button>

		<button class="ll-input-donation__button" data-value="1000" data-code="{{ plans.plan_1000 }}">
			<span class="ll-input-donation__value">
				R$1.000
			</span>
			<span class="ll-input-donation__monthly">
				por mês
			</span>
		</button>
	</div>

	<input
		type="text"
		name="input"
		class="ll-input-donation__input"
		placeholder="Ou digite outro valor…"
	>

	<input
		type="hidden"
		name="value"
		class="ll-input-donation__hidden"
		value=""
	>

	{{> input/input-checkbox
		class="ll-input-donation__switch"
		name="monthly"
		label="Transformar numa doação mensal"
		tooltip="Você poderá cancelar a doação mensal a qualquer momento usando sua conta PagSeguro"
	}}
</div>
