.ll-input-checkbox{
	display: flex;
	position: relative;
	cursor: pointer;
	&__input{
		display: none;
		&:checked + .ll-input-checkbox__bullet{
			&:before{
				transform: translate(-3px, -3px) scale(1);
			}
		}
	}
	&__bullet{
		position: relative;
		width: 14px;
		height: 14px;
		flex-shrink: 0;
		background: #ECEFF1;
		border: 1px solid #CFD8DC;
		border-radius: 4px;
		display: inline-block;
		margin-right: 6px;
		transition: .3s $ease-primary;
		&:before{
			content: "";
			width: 6px;
			height: 6px;
			border-radius: 6px;
			background: white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-3px, -3px) scale(0);
			transition: .3s $ease-primary;
		}
	}
	&__label{
		font-size: 12px;
		font-weight: 300;
		line-height: 16px;
		color: #77909D;
	}
	&__tooltip{
		font-size: 10px;
		width: 12px;
		height: 12px;
		border-radius: 15px;
		border: 1px solid #77909D;
		background: transparent;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 0 6px;
		flex-shrink: 0;
		position: relative;
		color: #77909D;
		&:before,
		&:after{
			opacity: 0;
			pointer-events: none;
		}
		&:before{
			content: attr(data-tooltip);
			position: absolute;
			top: 175%;
			left: 50%;
			margin-bottom: 5px;
			margin-left: -80px;
			width: 160px;
			padding: 7px;
			border-radius: 3px;
			background: $c-gray;
			line-height: 120%;
			text-align: center;
			color: white;
			transition: .3s $ease-primary;
			transform: translate(0, 5px);
		}
		&:hover:before{
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}

@each $theme, $color in $themes{
	.ll-app--#{$theme}{
		.ll-input-checkbox{
			&.is-active{
				.ll-input-checkbox{
					&__tooltip{
						color: $color;
						border-color: $color;
						transition: .2s $ease-primary;
					}
					&__bullet{
						background: $color;
						border-color: $color;
					}
				}
			}
		}
	}
}
