.ll-input-text{
	margin-bottom: 15px;
	display: block;
	position: relative;
	&__label{
		font-weight: 600;
		display: block;
		font-size: 14px;
		margin-bottom: 5px;
		color: #77909D;
	}
	&__input{
		border-radius: 6px;
		border: 1px solid #CFD8DC;
		background: white;
		margin: 0;
		padding: 10px;
		width: 100%;
		box-sizing: border-box;
		font-size: 14px;
		font-family: "Avenir", "Arial";
		font-weight: 900;
	}
	&__error{
		position: absolute;
		top: 0;
		color: red;
		right: 0;
		font-size: 11px;
		padding: 3px 0;
		opacity: 0;
		visibility: hidden;
		transform: translate(20px, 0);
		transition: .2s $ease-primary;
	}

	&.is-invalid{
		.ll-input-text{
			&__input{
				border-color: red;
				color: red;
			}
			&__error{
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
		}
	}
}

@each $theme, $color in $themes{
	.ll-app--#{$theme}{
		.ll-input-text{
			&__input{
				color: $color;
			}
		}
	}
}
