.ll-button{
	width: 100%;
	padding: 20px;
	background: $c-gray;
	color: white;
	font-size: 20px;
	font-weight: 900;
	border: 0;
	font-family: "Avenir", "Arial";
	cursor: pointer;
	border-radius: 8px;
	&:disabled{
		background: #ECEFF1 !important;
	}
}

@each $theme, $color in $themes{
	.ll-app--#{$theme}{
		.ll-button{
			background: $color;
			transition: .2s $ease-primary;
			&:hover{
				background: lighten($color, 10%);
			}
		}
	}
}
