<div class="ll-form-callback">
	<div class="ll-form-callback__content">
		<button class="ll-form-callback__close">
		</button>

		<span class="ll-form-callback__icon icon-heart"></span>
		<h2 class="ll-form-callback__title">
			Obrigado por participar!
		</h2>
		<p>
			Sua doação foi concluída com sucesso. Você receberá um email do PagSeguro com detalhes da transação.
		</p>
	</div>
</div>
