<form class="ll-form-donation" action="{{ action }}" method="POST">
	<header class="ll-form-donation__header">
		{{> input/input-donation
			label="Contribuir com"
		}}
	</header>

	<nav class="ll-form-donation__tabs">
		<button
			class="ll-form-donation__tab is-active"
			data-target="#tab-pessoa-fisica"
		>
			Pessoa física
		</button>
		<button
			class="ll-form-donation__tab"
			data-target="#tab-pessoa-juridica"
		>
			Pessoa jurídica
		</button>
	</nav>

	<div class="ll-form-donation__fieldset">
		<div id="tab-pessoa-fisica" class="ll-tab-content">
			{{> input/input-text
				id="donation-pessoa"
				name="donation-pessoa"
				label="Nome Completo"
			}}

			{{> input/input-text
				id="donation-cpf"
				name="cpf"
				mask="cpf"
				label="CPF"
			}}
		</div>

		<div id="tab-pessoa-juridica" class="ll-tab-content">
			{{> input/input-text
				id="donation-empresa"
				mask="empresa"
				label="Nome da Empresa"
			}}

			{{> input/input-text
				id="donation-cnpj"
				name="cnpj"
				mask="cnpj"
				label="CNPJ"
			}}
		</div>
	</div>

	<footer class="ll-form-donation__footer">
		<span class="ll-form-donation__total-label">
			Total
		</span>
		<span class="ll-form-donation__total">
			R$<span>0,00</span><span>/mês</span>
		</span>
	</footer>

	<input
		id="donation-type"
		type="hidden"
		class="ll-form-donation__type"
		name="type"
		value="pessoa-fisica"
	>

	<!-- Simple checkout data -->
	<input type="hidden" name="email_cobranca" value="{{ pagseguro.email }}">
	<input type="hidden" name="ref_transacao" value="">
	<input type="hidden" name="tipo" value="CP">
	<input type="hidden" name="moeda" value="BRL">
	<input type="hidden" name="item_id_1" value="1">
	<input type="hidden" name="item_descr_1" value="Doação">
	<input type="hidden" name="item_quant_1" value="1">
	<input type="hidden" name="item_valor_1" value="0">
	<input type="hidden" name="item_frete_1" value="0">
	<input type="hidden" name="item_peso_1" value="0">
	<input type="hidden" name="encoding" value="UTF-8">

	<!-- Plan checkout data -->
	<input type="hidden" name="code" value="" />

	{{#> button/button
		id="donation-submit"
	}}
		Prosseguir
	{{/button/button }}
</form>
