<div class="ll-form-terms">
	<div class="ll-form-terms__content">
		<button class="ll-form-terms__close">
		</button>
		<h4>
			CONDIÇÕES GERAIS DA OFERTA DE DOAÇÃO AO INSTITUTO LULA PELA INTERNET
		</h4>
		<p>
			1. O DOADOR, identificado no momento da remessa da oferta pela Internet, oferta ao INSTITUTO LULA, associação civil sem fins lucrativos com sede em São Paulo-SP, na Rua Pouso Alegre, no 21, no 21, Vila Monumento, CEP 04261-030, inscrito no CNPJ sob no 64.725.872/0001-8, a doação do valor indicado no formulário eletrônico disponível para tal finalidade a partir do endereço www.institutolula.org.
		</p>
		<p>
			2. A doação será regida pelas disposições que lhe são próprias do Código Civil e pelas presentes Condições Gerais, aceitas pelo DOADOR.
		</p>
		<p>
			3. A doação somente será concretizada após a aceitação do INSTITUTO LULA, que não será obrigado a declarar os motivos de eventual recusa. O prazo para aceitação é de 30 (trinta) dias contados do recebimento, pelo INSTITUTO LULA, da oferta enviada pela Internet. Durante o processo de aceitação, poderá o INSTITUTO LULA solicitar ao DOADOR informações complementares àquelas constantes do formulário eletrônico.
		</p>
		<p>
			4. Uma vez aceita a doação, o INSTITUTO LULA enviará ao DOADOR um link/endereço eletrônico para o ambiente de pagamentos, onde será possível ao DOADOR proceder à transferência de recursos, na forma de pagamento que ele então escolher.
		</p>
		<p>
			5. A doação, se aceita, será definitiva, irrevogável, irretratável e livre de encargos ou contrapartidas pelo INSTITUTO LULA, que poderá utilizar o valor doado em qualquer uma de suas atividades.
		</p>
		<p>
			6. Em caso de encerramento das atividades do INSTITUTO LULA, eventual saldo não utilizado da doação terá a destinação prevista nos estatutos da entidade, não sendo restituído, em qualquer hipótese, ao DOADOR.
		</p>
		<p>
			7. O DOADOR aceita e reconhece que a doação ao INSTITUTO LULA não lhe traz qualquer benefício fiscal, não podendo deduzir o valor doado de qualquer tributo de sua responsabilidade.
		</p>
		<p>
			8. A doação é ato de liberalidade do DOADOR, não gerando para ele qualquer prerrogativa ou condição de associado do INSTITUTO LULA.
		</p>
		<p>
			9. O DOADOR declara que o valor ofertado não prejudica a sua subsistência, nem supera os limites daquilo que ele poderia dispor em testamento.
		</p>
		<p>
			10. O DOADOR é o único e exclusivo responsável pela licitude, inclusive sob o aspecto tributário, dos recursos ofertados em doação, isentando o INSTITUTO LULA de qualquer responsabilidade nesse sentido.
		</p>
		<p>
			11. Caberá ao INSTITUTO LULA o recolhimento do ITCMD devido ao Estado de São Paulo pela doação que se efetivar, sendo-lhe facultado pleitear a isenção do referido tributo, na forma da lei.
		</p>
		<p>
			12. Por medida de segurança e rastreabilidade, o INSTITUTO LULA coletará e manterá em seus arquivos eletrônicos, pelo prazo de pelo menos 6 (seis) meses, os registros deacesso (notadamente endereço IP) do terminal utilizado pelo DOADOR para transmitir a oferta de doação.
		</p>
		<p>
			13. O INSTITUTO LULA, por questões de transparência, poderá publicar o nome do DOADOR e o valor doado em lista de doadores/apoiadores, podendo, a seu critério, atender eventual pedido do DOADOR no sentido de manter a doação em caráter confidencial.
		</p>
		<p>
			14. O INSTITUTO LULA repassará informações pessoais do DOADOR às repartições fiscais competentes, na medida em que isto se faça necessário para o cumprimento de obrigações constantes da legislação tributária. Não utilizará, porém, essas informações do DOADOR, nem as repassará a terceiros, para qualquer outra finalidade, ressalvadas as exceções previstas na legislação, especialmente o atendimento de ordens judiciais. 15. Eventuais controvérsias relativas à doação deverão ser discutidas e solucionadas no foro de São Paulo-SP.
		</p>
		<h4>Sobre doações recorrentes</h4>
		<p>
			Você poderá <b>cancelar uma doação mensal</b> a qualquer momento usando sua conta do PagSeguro. Para efetuar o cancelamento você precisa entrar no site do PagSeguro, acessar com sua conta e seguir <a href="https://m.pagseguro.uol.com.br/para_voce/debito-automatico-recorrente.jhtml" target="_blank">essas instruções</a>.
		</p>
	</div>
</div>
