.ll-form-terms{
	background: rgba(#ECEFF1, .9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: .3s $ease-primary;
	overflow: auto;
	transform: scale(1.2);
	z-index: 200;
	display: none;
	&__content{
		width: 790px;
		max-width: 90%;
		background: white;
		box-shadow: 0 2px 44px 0 rgba(0,0,0,0.1);
		box-sizing: border-box;
		border-radius: 16px;
		padding: 60px;
		position: relative;
		margin: 100px auto;
	}
	&__close{
		position: absolute;
		top: 15px;
		left: 15px;
		width: 18px;
		height: 18px;
		border-radius: 18px;
		border: 1px solid $c-green;;
		background: transparent;
		cursor: pointer;
		&:before{
			content: "x";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $c-green;
			margin-top: -2px;
		}
	}
	&.is-active{
		opacity: 1;
		visibility: visible;
		top: 0%;
		transform: scale(1);
	}
	h1, h2, h3, h4{
		margin-top: 0;
		margin-bottom: 25px;
		font-weight: 900;
		color: #36474F;
	}
	h4{
		font-size: 12px;
		text-transform: uppercase;
	}
	p{
		font-weight: 300;
		color: #36474F;
		font-size: 12px;
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
