.ll-form-donation{
	background: #F9FAFA;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 1px 4px 0 rgba(black, 0.1);
	&__tabs{
		padding-top: 10px;
		margin: 20px 0;
		border-top: 1px solid #ECEFF1;
		display: flex;
	}
	&__tab{
		font-weight: 900;
		background: transparent;
		border: 0;
		padding: 5px 0;
		font-size: 18px;
		line-height: 100%;
		border-bottom: 5px solid #CFD8DC;
		color: #CFD8DC;
		font-family: "Avenir", "Arial";
		margin-right: 20px;
		cursor: pointer;
		&.is-active{
			color: $c-gray;
			border-color: $c-gray;
		}
	}
	&__footer{
		border-top: 1px solid #ECEFF1;
		margin: 20px 0;
		padding-top: 20px;
		display: flex;
		justify-content: space-between;
		color: #77909D;
	}
	&__total-label{
		font-weight: 300;
	}
	&__total{
		font-weight: 900;
		font-size: 16px;
		span{
			&:last-child{
				display: none;
			}
		}
	}
	#tab-pessoa-juridica{
		display: none;
	}


	@include grid-media($thirteen-desktop-grid){
		padding: 10px 20px;
		.ll-form-donation{
			&__tabs{
				margin: 10px 0;
			}
			&__tab{
				font-size: 16px;
			}
			&__footer{
				padding-top: 10px;
				margin-bottom: 10px;
			}
		}
		.ll-button{
			padding: 10px;
		}
	}
}

.ll-app--secondary{
	.ll-form-donation{
		&__total{
			span{
				&:last-child{
					display: inline;
				}
			}
		}
	}
}

@each $theme, $color in $themes{
	.ll-app--#{$theme}{
		.ll-form-donation{
			&__tab{
				&.is-active{
					color: $color;
					border-color: $color;
					transition: .2s $ease-primary;
				}
			}
		}
	}
}
