.ll-form-callback{
	background: rgba(#ECEFF1, .9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: .3s $ease-primary;
	overflow: auto;
	transform: scale(1.2);
	text-align: center;
	z-index: 200;
	display: none;
	&__content{
		width: 790px;
		max-width: 90%;
		background: white;
		box-shadow: 0 2px 44px 0 rgba(0,0,0,0.1);
		box-sizing: border-box;
		border-radius: 16px;
		padding: 60px 80px;
		position: relative;
		margin: 100px auto;
	}
	&__close{
		position: absolute;
		top: 15px;
		left: 15px;
		width: 18px;
		height: 18px;
		border-radius: 18px;
		border: 1px solid $c-green;;
		background: transparent;
		cursor: pointer;
		&:before{
			content: "x";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $c-green;
			margin-top: -2px;
		}
	}
	&__icon{
		display: block;
		font-size: 80px;
		color: $c-green;
	}
	&__title{
		font-size: 38px;
		font-weight: 900;
		margin-bottom: 10px;
	}
	p{
		font-size: 18px;
		line-height: 34px;
	}
	&.is-active{
		opacity: 1;
		visibility: visible;
		top: 0%;
		transform: scale(1);
	}
}
