.auth{
    margin-top: 200px;
}

.donation{
	margin-top: 20px;
}

.donation__header{
	display: flex;
	align-items: center;
}

.donation__title{
	flex: 1 100%;
}

.donation__navigation{
	
}

.donation__search{
	display: flex;
	align-items: center;
}

.donation__search .checkbox{
	flex-shrink: 0;
	margin-right: 10px;
}

.donation__search .form-group{
	margin-right: 10px;
}

.donation__result{
	flex: 1 100%;
}
