.ll-content-block{
	p{
		font-size: 18px;
		color: $c-gray;
		line-height: 200%;
		margin: 0 0 30px;
	}
	b{
		font-weight: 600;
	}
	a{
		color: $c-green;
		font-weight: 600;
		text-decoration: none;
	}
	h1, h2, h3, h4{
		color: #77909D;
		font-weight: 900;
		text-transform: uppercase;
	}
	h1{
		font-size: 32px;
		line-height: 60px;
	}
	h2{
		font-size: 26px;
		line-height: 55px;
	}
	h3{
		font-size: 20px;
		line-height: 50px;
	}
	h4{
		font-size: 16px;
		line-height: 45px;
	}
	figure{
		margin: 0 -60px 30px 0;
	}
	img{
		width: 100%;
		height: auto;
		border-radius: 8px;
		margin: 0;
	}
	figcaption{
		font-weight: 300;
		font-size: 14px;
		font-style: italic;
		line-height: 19px;
		display: block;
		margin-top: 10px;
		color: #77909D;
	}

	@include grid-media($tablet-grid){
		figure{
			margin: 0 0 30px 0;
		}
	}
}
