<div id="{{ id }}" class="ll-content-card ll-content-card--{{ navigation }}">
	<div class="ll-content-card__navigation">
		<button
			class="
				ll-content-card__button
				ll-content-card__button--bell
				icon-bell
			"
			data-target="#happening"
		>
		</button>

		<button
			class="
				ll-content-card__button
				ll-content-card__button--globe
				icon-globe-alt
			"
			data-target="#job"
		>
		</button>

		<button
			class="
				ll-content-card__button
				ll-content-card__button--gift
				icon-present
			"
			data-target="#help"
		>
		</button>
	</div>
	<div class="ll-content-card__block">
		<h2 class="ll-content-card__title">
			{{ title }}
		</h2>

		{{#> content/content-block }}
			{{> @partial-block }}
		{{/content/content-block }}
	</div>
</div>
