.ll-content-card{
	float: left;
	margin-bottom: 40px;
	@include grid-collapse;
	&__navigation{
		text-align: center;
		@include grid-column(2);
	}
	&__button{
		background: #ECEFF1;
		color: #B0BEC5;
		width: 55px;
		height: 55px;
		border: 0;
		border-radius: 44px;
		margin-bottom: 20px;
		cursor: pointer;
		font-size: 30px;
	}
	&__block{
		@include grid-column(10);
	}
	&__title{
		font-size: 43px;
		font-weight: 900;
		line-height: 50px;
		margin: 0 0 30px;
		color: $c-gray;
	}

	&--first{
		.ll-content-card{
			&__navigation{
				transform: translate(0, -15px);
			}
			&__button{
				&:nth-child(1){
					width: 80px;
					height: 80px;
					background: map-get($themes, 'primary');
					color: white;
					font-size: 40px;
				}
			}
		}
	}
	&--second{
		.ll-content-card{
			&__navigation{
				transform: translate(0, -90px);
			}
			&__button{
				&:nth-child(2){
					width: 80px;
					height: 80px;
					background: map-get($themes, 'secondary');
					color: white;
					font-size: 40px;
				}
			}
		}
	}
	&--third{
		.ll-content-card{
			&__navigation{
				transform: translate(0, -165px);
			}
			&__button{
				&:nth-child(3){
					width: 80px;
					height: 80px;
					background: map-get($themes, 'accent');
					color: #263238;
					font-size: 40px;
				}
			}
		}
	}

	@include grid-media($tablet-grid){
		width: 100%;
		margin: 0;
		.ll-content-card{
			&__navigation,
			&__block{
				@include grid-column(12);
			}
			&__navigation{
				transform: initial;
			}
			&__button{
				display: none;
			}
			&__title{
				text-align: center;
			}
		}
		&--first{
			.ll-content-card{
				&__button:nth-child(1){
					display: inline-block;
				}
			}
		}
		&--second{
			.ll-content-card{
				&__button:nth-child(2){
					display: inline-block;
				}
			}
		}
		&--third{
			.ll-content-card{
				&__button:nth-child(3){
					display: inline-block;
				}
			}
		}


	}
}
