.ll-alert{
	padding: 15px;
	background: lightgray;
	font-weight: 500;
	margin-bottom: 40px;
	border-radius: 8px;

	@each $theme, $color in $themes{
		&--#{$theme}{
			background: lighten($color, 30%);
			color: darken($color, 10%);
		}
	}
}
