body{
	font-family: "Avenir", "Arial";
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*{
	outline: none;
}

a{
	color: $c-gray;
	font-weight: 900;
	text-decoration: none;
}

@each $theme, $color in $themes{
	.ll-app--#{$theme}{
		a{
			color: $color;
		}
	}
}

.outer-container{
	@include outer-container;
}
