$c-gray: #263238;
$c-blue: #00AEEF;
$c-green: #71BF44;

$themes: (
	primary: #71BF44,
	secondary: #00AEEF,
	accent: #FCF109
);

$simple-line-font-path: "~/../fonts/";

$ease-primary: cubic-bezier(.25, .8, .25, 1);
