@import "~@/stylesheets/defaults";

.ll-app{
	position: relative;
	&__header{
		height: 560px;
		background: $c-gray;
		background-image: url(~/../images/background.jpg);
		background-position: center;
		background-size: cover;
		padding: 40px 0;
		box-sizing: border-box;
	}
	&__brand{
		text-align: center;
		img{
			width: 225px;
			height: auto;
			margin: auto;
		}
	}
	&__content{
		text-align: center;
		color: white;
		margin-top: 180px;
		@include grid-column(6);
		@include grid-push(1);
	}
	&__title{
		font-size: 43px;
		font-weight: 900;
		display: block;
		margin-bottom: 10px;
		span{
			color: $c-gray;
		}
	}
	&__subtitle{
		font-size: 24px;
		display: block;
		font-weight: 400;
		line-height: 36px;
	}
	&__body{
		margin-top: 70px;
		position: relative;
		@include grid-column(7);
	}
	&__fixed{
		position: absolute;
		width: 100%;
		top: 400px;
		padding-top: 40px;
		&.is-active{
			position: fixed;
			top: 0;
		}
	}
	&__sidenav{
		@include grid-column(4);
		@include grid-push(8);
	}
	&__terms{
		font-size: 12px;
		font-weight: 300;
		color: #77909D;
		text-align: center;
		padding: 20px;
	}
	&__footer{
		text-align: center;
		padding-bottom: 100px;
		@include grid-column(12);
		.ll-app__brand{
			margin-top: 100px;
		}
	}
	&__share{
		color: #36474F;
		font-weight: 900;
		font-size: 22px;
		line-height: 50px;
		margin: 0 0 20px 0;
	}
	&__social{
		display: inline-block;
		position: relative;
		margin: 0 20px;
		span{
			&:first-child{
				width: 60px;
				height: 60px;
				border-radius: 60px;
				display: inline-flex;
				margin-bottom: 10px;
				align-items: center;
				justify-content: center;
				font-size: 30px;
				background: $c-gray;
				color: white;
			}
			&:last-child{
				font-family: "Avenir", "Arial";
				font-weight: 300;
				font-size: 20px;
				display: block;
				color: $c-gray;
			}
		}
		&--facebook{
			span{
				&:first-child{
					background: #0099E6;
				}
				&:last-child{
					color: #0099E6;
				}
			}
		}
		&--twitter{
			span{
				&:first-child{
					background: #03C0E5;
				}
				&:last-child{
					color: #03C0E5;
				}
			}
		}
		&--instagram{
			span{
				&:first-child{
					background: #CA4CE4;
				}
				&:last-child{
					color: #CA4CE4;
				}
			}
		}
	}

	@include grid-media($tablet-grid){
		.ll-app{
			&__content{
				margin-top: 140px;
				@include grid-column(12);
			}
			&__fixed{
				position: static;
				&.is-active{
					position: static;
				}
			}
			&__sidenav{
				width: 100%;
				margin: 0;
				transform: initial;
			}
			&__body{
				@include grid-column(12);
			}
			&__footer{
				width: 100%;
				margin: 0;
				order: 2;
			}
		}
	}
}

@each $theme, $color in $themes{
	.ll-app--#{$theme}{
		.ll-app{
			&__title{
				span{
					color: $color;
					transition: .2s $ease-primary;
				}
			}
		}
	}
}
