<div class="ll-app ll-app--primary">
	<header class="ll-app__header">
		<div class="outer-container">
			<div class="ll-app__brand">
				<img
					src="images/instituto-lula-brand-white.png"
					alt="Instituto Lula"
				>
			</div>

			<div class="ll-app__content">
				<span class="ll-app__title">
					<span>
						Faça parte.
					</span>
					Contribua.
				</span>

				<span class="ll-app__subtitle">
					Vamos juntos manter o Instituto Lula em atividade neste primeiro semestre de 2018
				</span>
			</div>
		</div>
	</header>

	<div class="ll-app__fixed">
		<div class="outer-container">
			<div class="ll-app__sidenav">
				{{> form/form-donation
					action="/donate"
				}}

				<div class="ll-app__terms">
					Ao prosseguir você está aceitando os <a href="#" class="ll-app__terms-link">termos e condições gerais</a> para doação. Em caso de dúvidas, acesse o nosso <a href="http://institutolula.org/perguntas-frequentes-sobre-doacoes-para-o-instituto-lula" target="_blank" title="Perguntas Frequentes">FAQ</a>.
				</div>
			</div>
		</div>
	</div>

	<div class="ll-app__container outer-container">
		<div class="ll-app__body">
			{{#> content/content-card
				id="happening"
				title="O que está acontecendo"
				navigation="first"
			}}
				<p>
					Como todos sabem, <b>Instituto Lula</b> tornou-se um dos alvos da campanha judicial e midiática que é movida contra o ex-presidente. Por conta disso, <b>a sua sobrevivência encontra-se ameaçada</b>.
				</p>
				<figure>
					<img src="images/foto_1.jpg" alt="">
					<figcaption>
						Encontro com jovens lideranças na África do Sul (novembro de 2012)
					</figcaption>
				</figure>
				<p>
					Já há três anos a Receita Federal promove uma rigorosa investigação em busca de provas de que o Instituto teria deixado de lado seu objetivos estatutários. Há três anos a Receita Federal promove uma rigorosa investigação em busca de provas de que o Instituto teria ultrapassado seu objetivos estatutários. Baseada em uma interpretação da qual divergimos, suspenderam a isenção tributária do Instituto retroativamente por cinco anos e aplicaram-nos uma <b>multa de valor milionário</b> — algo que está sendo contestado administrativa e juridicamente. Porém, isso demandará um <b>tempo incompatível</b> frente à situação de emergência em que a entidade se viu lançada. Porém, isso demandará um tempo incompatível frente à situação de emergência em que a entidade se viu lançada.
				</p>
				<p>
					O Instituto Lula é uma instituição sem fins lucrativos. <b>Não recebe qualquer subvenção de governos ou de partidos políticos.</b> É sustentado exclusivamente pelas doações levantadas junto a contribuintes privados, sejam empresas ou indivíduos. 
				</p>
			{{/content/content-card }}

			{{#> content/content-card
				id="job"
				title="Nosso trabalho"
				navigation="second"
			}}
				<p>
					O Instituto Lula tornou-se uma das poucas instituições sustentadas pela sociedade civil no Brasil que tem se dedicado a formular políticas públicas voltadas para a maioria da população, com foco na inclusão e emancipação dos excluídos e dos mais pobres. Projetos como o <b>Fome Zero, Juventude e Moradia</b> desenvolvidos e trazidos ao debate nacional pelo Instituto Cidadania e o <b>Bolsa Família e Minha Casa Minha Vida</b>, entre outros, que se tornaram ações programáticas nos governos do ex-presidente Lula, nasceram de elaborações surgidas na entidade.
				</p>
				<figure>
					<img src="images/foto_2.jpg" alt="">
					<figcaption>
						Lula na Unilab, Bahia (2014)
					</figcaption>
				</figure>
				<p>
					Organizamos e promovemos <b>seminários e conferências internacionais</b> sobre o desenvolvimento e o combate à miséria, em parceria com governos de diversos países, com a União Africana e organizações multilaterais como a FAO, a UNESCO, CEPAL, entre outras, evidenciando o reconhecimento internacional alcançado pelo Instituto. Um dos nossos mais importantes projetos, o <a href="http://memorialdademocracia.com.br" target="_blank">Memorial da Democracia</a> é hoje uma referência para o conhecimento da História das Lutas Sociais no Brasil. E o projeto <a href="http://www.brasildamudanca.com.br" target="_blank">Brasil da Mudança</a> contribui para preservar e tornar acessível a memória do governo do ex-presidente Lula, especialmente de suas políticas sociais. Registramos e preservamos também a <b>memória da trajetória política do ex-presidente Lula</b> antes, durante e depois de exercer dois mandatos como presidente da República, material de referência fundamental para pesquisadores da história do Brasil entre a década de 1970 e os dias atuais.
				</p>
				<figure>
					<img src="images/foto_3.jpg" alt="">
					<figcaption>
						Tela do Memorial da Democracia, museu virtual e um dos sites construídos pelo Instituto Lula
					</figcaption>
				</figure>
			{{/content/content-card }}

			{{#> content/content-card
				id="help"
				title="Você pode ajudar"
				navigation="third"
			}}
				<p>
					Sob o cenário aqui descrito, nos vimos motivados a buscar o apoio de todos os que comungam o entendimento de que é imprescindível <b>manter o Instituto Lula vivo e operante</b>, dando continuidade à sua missão e mantendo vivo o legado da trajetória do ex-presidente Lula.
				</p>
				<p>
					Toda a história da sua vida política — um acervo que contém milhares de cartas, documentos, textos, fotos, filmes e lembranças — está sob os cuidados do Instituto.
				</p>
				<h3>
					Orçamento
				</h3>
				<p>
					Após uma série de reduções, nossa estimativa é que o primeiro semestre deste ano consuma cerca de R$ 720 mil, assim divididos:
				</p>
				<img src="images/pizza-graph.png" alt="Gráfico">
				<h3>
					A Doação
				</h3>
				<p>
					Você escolhe ao lado o valor da sua doação e avisa se quer fazer a doação única ou mensal. Em ambas modalidades, você será redirecionado ao sistema do PagSeguro para digitar seus dados. Todo o processo de cobrança é feito em ambiente seguro. O Instituto Lula terá acesso somente aos dados que você digita na primeira tela: nome e CPF.
				</p>
				<p>
					Você poderá <b>cancelar uma doação mensal</b> a qualquer momento usando sua conta do PagSeguro. Para efetuar o cancelamento você precisa entrar no site do PagSeguro, acessar com sua conta e seguir <a href="https://m.pagseguro.uol.com.br/para_voce/debito-automatico-recorrente.jhtml" target="_blank">essas instruções</a>.
				</p>
				<p>
					Dúvidas sobre o trabalho do Instituto? Nosso e-mail de contato para doações é o <a href="mailto:participe@institutolula.org">participe@institutolula.org</a>.
				</p>
			{{/content/content-card }}
		</div>

		<footer class="ll-app__footer">
			<h4 class="ll-app__share">
				Contribua compartilhando
			</h4>

			<nav class="ll-app__social">
				<a href="https://www.facebook.com/Lula" target="_blank" class="ll-app__social ll-app__social--facebook">
					<span class="icon-social-facebook"></span>
					<span>Facebook</span>
				</a>
				<a href="https://twitter.com/inst_lula" target="_blank" class="ll-app__social ll-app__social--twitter">
					<span class="icon-social-twitter"></span>
					<span>Twitter</span>
				</a>
				<a href="https://www.instagram.com/luizinacioluladasilvaoficial" target="_blank" class="ll-app__social ll-app__social--instagram">
					<span class="icon-social-instagram"></span>
					<span>Instagram</span>
				</a>
			</nav>

			<div class="ll-app__brand">
				<img
					src="images/instituto-lula-brand-black.png"
					alt="Instituto Lula"
				>
			</div>
		</footer>
	</div>

	{{> form/form-terms }}
	{{> form/form-callback }}
</div>
